#ifndef defines_h
#define defines_h

// Set your Coinos auth token, WiFi ssid and password
// Get the token from https://coinos.io/docs

const char* token = "eyJ...";

const char* ssid = "your-wifi-name";
const char* password = "your-wifi-password";

// Everything else below this line should remain constant

const char* websockets_connection_string = "wss://coinos.io/ws";
const char fingerprint[] PROGMEM = "68 82 CB EB D4 76 F5 0A D4 B4 B2 38 9B 4E 43 95 B3 20 FB BA";

#endif      //defines_h
